<ion-header>
  <ion-navbar>
    <ion-title> CAMBIO DE CONTRASEÑA</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="appBackground">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <form [formGroup]="reset">
          <ion-item>
            <ion-label floating>Escribe tu correo electronico</ion-label>
            <ion-input type="email" formControlName="email" ></ion-input>
          </ion-item>
          <ion-item *ngIf="((reset.get('email').hasError('pattern') || reset.get('email').hasError('required')) && (reset.get('email').dirty || reset.get('email').touched))">
              <span *ngIf="(reset.get('email').hasError('pattern') && (reset.get('email').dirty || reset.get('email').touched))">   Escriba un correo valido</span>
              <span *ngIf="(reset.get('email').hasError('required') && (reset.get('email').dirty || reset.get('email').touched))">   Escriba un correo</span>
          </ion-item>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-footer no-shadow>
      <ion-toolbar position="bottom">
        <button ion-button block round color="success" (click)="resetmail()" [disabled]="!reset.valid">Restaurar</button>
      </ion-toolbar>
    </ion-footer>
</ion-content>
