<!--
  Generated template for the ImpuestosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tabla Procesos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-item>
    <ion-label>Periodo</ion-label>
    <ion-select (ionChange)="onSelectChange($event)">
        <ion-option *ngFor="let item of period" value='{{item.idPeriodoEmpresa}}' >{{item.periodo }}</ion-option>
    </ion-select>
  </ion-item>
      <!-- <ion-scroll scrollX="true" style="width: 90%; height: 50vh; margin:auto">
              <table>
                  <thead>
                    <tr>
                      <th class="grid-head">Procesos</th>
                      <th class="grid-head">Fecha</th>
                      <th class="grid-head">Estatus</th>
                      <th class="grid-head">Estatus Impuestos</th>
                      <th class="grid-head">Importe</th>
                      <th class="grid-head">Proceso 1</th>
                      <th class="grid-head">Proceso 2</th>
                      <th class="grid-head">Proceso 3</th>
                      <th class="grid-head">Proceso 4</th>
                      <th class="grid-head" colspan=3 >Observaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pr of process" (click)="detail(pr.idEmpresasProcesosPeriodos)">
                      <td>{{ pr.porcesos}}</td>
                      <td>{{ pr.fecha}}</td>
                      <td>{{ pr.estatus}}</td>
                      <td>{{ pr.estatusImp}}</td>
                      <td>{{ pr.importe}}</td>
                      <td>{{ pr.proceso1}}</td>
                      <td>{{ pr.proceso2}}</td>
                      <td>{{ pr.proceso3}}</td>
                      <td>{{ pr.proceso4}}</td>
                      <td colspan=3>{{ pr.observaciones}}</td>
                    </tr>
                    
                  </tbody>
                </table>
          <div class="tableWrapper">
          </div>
        </ion-scroll> -->
        <ion-item *ngFor="let pr of process" (click)="detail(pr.idEmpresasProcesosPeriodos)">
          <ion-card>
            <ion-card-header>
              {{ pr.porcesos}}
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                {{ pr.observaciones}}
              </ion-row>
              <ion-row>

                <ion-col [ngSwitch]="pr.estatus">
                    <ion-item *ngSwitchCase="'C'" round outline small>
                        <ion-badge>Calculado</ion-badge>
                    </ion-item>
                    <ion-item *ngSwitchCase="'E'" round outline small>
                        <ion-badge color="danger">Pendiente</ion-badge>
                    </ion-item>
                    <ion-item *ngSwitchCase="'P'" round outline small>
                        <ion-badge color="danger">En proceso</ion-badge>
                    </ion-item>
                    <ion-item *ngSwitchCase="'A'" round outline small>
                        <ion-badge color="danger">Autorizado</ion-badge>
                    </ion-item>
                    <ion-item *ngSwitchDefault  round outline small>
                        <ion-badge color="secondary">No disponible</ion-badge>
                    </ion-item>
                    
                </ion-col>
                <ion-col>{{ pr.fecha}}</ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-item>
</ion-content>