<!--
  Generated template for the ImpuestosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tabla de Impuestos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-item>
    <ion-label>Periodo</ion-label>
    <ion-select (ionChange)="onSelectChange($event)">
        <ion-option *ngFor="let item of period" value='{{item.idPeriodoEmpresa}}'>{{item.periodo }}</ion-option>
    </ion-select>
  </ion-item>
      <ion-grid text-center>
          <ion-row >
            <ion-col col-3 ></ion-col>
            <ion-col col-3 class="grid-head"  >Factura</ion-col>
            <ion-col col-3 class="grid-head"  >Estatus</ion-col>
            <ion-col col-3 class="grid-head"  >Observaciones</ion-col>
          </ion-row>
          <ion-row *ngFor="let pr of process">
            <ion-col col-3  class="side-title" >{{ pr.descripcion}}</ion-col>
            <ion-col col-3 (click)="detail(pr.idEmpresasProcesosPeriodos)" > </ion-col>
            <ion-col col-3 > 
              <ion-select disabled  [(ngModel)]="pr.estatus">
                <ion-option value="P">Pendiente</ion-option>
                <ion-option value="E">En proceso</ion-option>
                <ion-option value="C">Concluido</ion-option>
                <ion-option value="B">Baja</ion-option>
              </ion-select>
          </ion-col>
            <ion-col col-3 (click)="obs(pr.idEmpresasProcesosPeriodos)">{{ pr.observaciones }}</ion-col>
          </ion-row>
         
      </ion-grid>
</ion-content>