page-impuestos {
    .grid-head{
        background: color($colors, primary);
        color:#fff;
    }
    .side-title{
        background: color($colors, primary);
        color:#fff;
    }
    .col > .select{
        padding: 0px;
        max-width: 98%;
    }
    .col .select .select-icon {
        display: none;
    }
}
