page-home {
    .list-o-com{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .list-o-com p {
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
        flex-grow: 1;
    }
}
