<!--
  Generated template for the ImpuestosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>Detalles</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content *ngIf="datos">
      <ion-card>
          <ion-card-header>
            titulo
          </ion-card-header>
          <ion-card-content>
            <ion-row>
            {{datos.proceso}}
            </ion-row>
              <ion-row>
                <h4>Obsrervaciones</h4>
                <ion-item>
                  <p>
                    {{datos.comentario}}
                  </p>
                </ion-item>
              </ion-row>
              <ion-row *ngIf="datos.subproceso1||datos.subproceso2||datos.subproceso3||datos.subproceso4">
                <ion-item>Subprocesos</ion-item>
                <ion-item *ngIf="datos.subproceso1">
                      {{datos.subproceso1}}
                </ion-item>
                <ion-item *ngIf="datos.subproceso2">
                    {{datos.subproceso2}}
                </ion-item>
                <ion-item *ngIf="datos.subproceso3">
                  {{datos.subproceso3}}
                </ion-item>
                <ion-item *ngIf="datos.subproceso4">
                  {{datos.subproceso4}}
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h4>Fecha</h4>
                  <ion-item>
                    {{datos.fecha}}
                  </ion-item>
                </ion-col>
                <ion-col [ngSwitch]="datos.estatus">
                    <h4>Estatus</h4>
                    <ion-item *ngSwitchCase="'C'">
                        Calculado
                    </ion-item>
                    <ion-item *ngSwitchCase="'E'">
                        Pendiente
                    </ion-item>
                    <ion-item *ngSwitchCase="'P'">
                        En proceso
                    </ion-item>
                    <ion-item *ngSwitchCase="'A'">
                        Autorizado
                    </ion-item>
                    <ion-item *ngSwitchDefault >
                       No disponible
                    </ion-item>
                    
                </ion-col>
              </ion-row>
          </ion-card-content>
        </ion-card>
            <!-- <ion-item >
              <ion-label>Comentarios</ion-label>
              <ion-textarea [(ngModel)]="response" name="response"></ion-textarea>
            </ion-item> -->
          <ion-row>
              <ion-col>
                <button ion-button icon-left clear small (click)="onAccept()">
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>Aceptar</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small (click)="onCancel()">
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>Aclarar</div>
                </button>
              </ion-col>
              
            </ion-row>
  </ion-content>